#debug: true

# PROFILES
## dev | test | prod
spring: 
  profiles.active: dev

# EMBEDDED SERVER CONFIGURATION (ServerProperties)
server: 
  port:  8080
  session-timeout:  30
  tomcat.max-threads:  50
  tomcat.uri-encoding:  UTF-8
  
# LOGGING
logging: 
  path: /var/log
  file: cptadmin.log
  level.com.cpt: INFO

## redis
redis.ip: localhost
redis.port: 6379
redis.expire: 172800
redis.timeout: 10000
redis.pool.maxActive: 1024
redis.pool.maxIdle: 200
redis.pool.maxWait: 1000
redis.pool.testOnBorrow: true
## shiro
shiro.session.timeout: 172800000
shiro.session.maxcount: 1
shiro.kickout.url: /unlogin-kickout
shiro.login.url: /login
shiro.unlogin.url: /unlogin
shiro.unauthorized.url: /unauth
shiro.login.limit: 5

#MYBATIS
mybatis.mapper-locations: classpath*:/com/cpt/*/mapper/**.xml
mybatis.configuration.map-underscore-to-camel-case: true
mybatis.configuration.use-generated-keys: true
mybatis.configuration.default-fetch-size: 100
mybatis.configuration.default-statement-timeout: 30

#DATASOURCE
spring.datasource.schema: classpath:init-sql/schema.sql
spring.datasource.continueOnError: true

spring.datasource.type: com.alibaba.druid.pool.DruidDataSource
spring.datasource.url: jdbc:mysql://localhost:3306/cpt
spring.datasource.username: root
spring.datasource.password: 123
spring.datasource.driver-class-name: com.mysql.jdbc.Driver

spring.datasource.initialSize: 5
spring.datasource.minIdle: 5
spring.datasource.maxActive: 20
spring.datasource.maxWait: 60000
spring.datasource.timeBetweenEvictionRunsMillis: 60000
spring.datasource.validationQuery: SELECT 1
spring.datasource.testWhileIdle: true
spring.datasource.testOnBorrow: false
spring.datasource.testOnReturn: false
spring.datasource.poolPreparedStatements: true
spring.datasource.maxPoolPreparedStatementPerConnectionSize: 20
spring.datasource.filters: stat
spring.datasource.connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

# VELOCITY TEMPLATES (VelocityAutoConfiguration)
spring.velocity.allow-request-override: false
spring.velocity.allow-session-override: false
spring.velocity.cache: true
spring.velocity.charset: UTF-8
spring.velocity.check-template-location: true
spring.velocity.content-type: text/html
spring.velocity.date-tool-attribute: date
spring.velocity.enabled: true
spring.velocity.expose-request-attributes: true
spring.velocity.expose-session-attributes: false
spring.velocity.expose-spring-macro-helpers: true
spring.velocity.number-tool-attribute: number
spring.velocity.prefer-file-system-access: true
spring.velocity.resource-loader-path: classpath:/templates/
spring.velocity.request-context-attribute: rc
spring.velocity.suffix: .vm
spring.velocity.toolbox-config-location: toolbox.xml
---
spring:
  profiles: test

# EMBEDDED SERVER CONFIGURATION (ServerProperties)
server: 
  port:  8080
  session-timeout:  30
  tomcat.max-threads:  50
  tomcat.uri-encoding:  UTF-8
  
# LOGGING
logging: 
  path: /var/log
  file: cptadmin.log
  level.com.cpt: INFO
  
#MYBATIS
mybatis.mapper-locations: classpath*:/com/cpt/*/mapper/*.xml
mybatis.configuration.map-underscore-to-camel-case: true
mybatis.configuration.use-generated-keys: true
mybatis.configuration.default-fetch-size: 100
mybatis.configuration.default-statement-timeout: 30

#DATASOURCE
spring.datasource.schema: classpath:init-sql/schema.sql
spring.datasource.continueOnError: true

spring.datasource.type: com.alibaba.druid.pool.DruidDataSource
spring.datasource.url: jdbc:mysql://localhost:3306/cpt
spring.datasource.username: root
spring.datasource.password: 123
spring.datasource.driver-class-name: com.mysql.jdbc.Driver

spring.datasource.initialSize: 5
spring.datasource.minIdle: 5
spring.datasource.maxActive: 20
spring.datasource.maxWait: 60000
spring.datasource.timeBetweenEvictionRunsMillis: 60000
spring.datasource.validationQuery: SELECT 1
spring.datasource.testWhileIdle: true
spring.datasource.testOnBorrow: false
spring.datasource.testOnReturn: false
spring.datasource.poolPreparedStatements: true
spring.datasource.maxPoolPreparedStatementPerConnectionSize: 20
spring.datasource.filters: stat
spring.datasource.connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000

# VELOCITY TEMPLATES (VelocityAutoConfiguration)
spring.velocity.allow-request-override: false
spring.velocity.allow-session-override: false
spring.velocity.cache: true
spring.velocity.charset: UTF-8
spring.velocity.check-template-location: true
spring.velocity.content-type: text/html
spring.velocity.date-tool-attribute: date
spring.velocity.enabled: true
spring.velocity.expose-request-attributes: true
spring.velocity.expose-session-attributes: false
spring.velocity.expose-spring-macro-helpers: true
spring.velocity.number-tool-attribute: number
spring.velocity.prefer-file-system-access: true
spring.velocity.resource-loader-path: classpath:/templates/
spring.velocity.request-context-attribute: rc
spring.velocity.suffix: .vm
spring.velocity.toolbox-config-location: toolbox.xml